[Desktop Entry]
Name=Simple Terminal
GenericName=Suckless Terminal
Comment=st - the simple terminal by suckless.org
Exec=/usr/local/bin/st
Terminal=false
Type=Application
Icon=terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;cmd;st;suckless;
